@import '~bootstrap/scss/bootstrap';

.page-container {
  height: 100vh;
  weight: 100vw;
}


.overdueColorChange {
  background-color: #BB8760;
}

.overdueColor {
  color: #4F0E0E;
}

.deadlineFont {
  color: #FFF1F1
}
